@charset "utf-8";

body{
	background-image: url(../images/2111.png);
	}
.navigation{
	background-image: url(../images/560.png);
	background-repeat:no-repeat;
	text-align:center;
	}
.lay2{
	color: #FFF;
     }
.in{margin-top:20px;
    font-size:18px;
	}
#lay3{
	color: #FFF;
	}
#Layer1 {
	position:absolute;
	width:206px;
	height:57px;
	z-index:1;
	left: 947px;
	top: 236px;
}
#Layer2 {
	position:absolute;
	width:210px;
	height:59px;
	z-index:2;
	left: 946px;
	top: 419px;
}


#Layer4 {
	position:absolute;
	width:210px;
	height:59px;
	z-index:3;
	left: 945px;
	top: 299px;
}
#Layer5 {
	position:absolute;
	width:210px;
	height:59px;
	z-index:4;
	left: 946px;
	top: 360px;
}
#Layer6 {
	position:absolute;
	width:186px;
	height:180px;
	z-index:5;
	left: 1038px;
	top: 45px;
	background-image: url(../images/touxiang.jpg);
	background-repeat:no-repeat;
}


#layer10{
	position:absolute; 
	left:110px;
	 top:76px; 
	 width:703px; 
	 height:24px;
	 }
