@charset "utf-8";
#Layer11,#Layer12,#Layer13,#Layer14{
	background-color:#FFF;
	width:803px;
	left: 82px;
	}
#Layer11 {
	position:absolute;
	height:303px;
	z-index:1;
	top: 307px;
}
#Layer12 {
	position:absolute;
	height:38px;
	z-index:2;
	top: 180px;
}
#Layer13 {
	position:absolute;
	height:28px;
	z-index:3;
	top: 220px;
}
#Layer14 {
	position:absolute;
	height:55px;
	z-index:4;
	top: 250px;
}
