@charset "utf-8";
.text{
	 font: Tahoma, Geneva, sans-serif;
	 font-size:16px;
	}

.word{
	background-image: url(../images/2009.png);
	background-repeat:no-repeat;
	}
.little{
	position:absolute;
	width:220px;
	height:306px;
	left: 39px;
	top: 49px;
	color: #666;
	}

#layer7{
	position:absolute;
	left:653px;
	top:176px;
	width:270px;
	height:380px;
	}
#layer8{
	position:absolute;
	left:360px;
	top:236px;
	width:270px;
	height:380px;
	}
#layer9{
	position:absolute;
	left:66px;
	top:292px;
	width:270px;
	height:380px;
	}
