<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- 定义电脑 -->
	<bean id="cpt" class="com.stx.demo.spring.Computer">
		<!-- 装配电脑开始 -->
		<!-- 类似 cpu = new InterCPU() -->
		<property name="cpu" ref="cpu"></property>
		<!-- 类似 monitor = new LCD() -->
		<property name="monitor" ref="monitor"></property>
		<!-- 装配电脑结束 -->
	</bean>

	<!-- 定义cpu -->
	<bean id="cpu" class="com.stx.demo.spring.cpu.InterCPU"></bean>

	<!-- 定义显示器 -->
	<bean id="monitor" class="com.stx.demo.spring.monitor.LCD"></bean>

</beans>
